.Uno {
  display: flex;
  
}
.container{
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 50px;
  padding: 10px;
  border: black 2px solid;
  border-radius: 20px;
  background-color: #c7c9ee; 

}
.Div1 {
  margin-right: 10px;
 
}
.DivP {
  display: flex;
  flex-direction: row-reverse;
 
}
.button {
  background-color: chocolate;
 border-radius: 50px;
 font-size: 10px;
 margin-left: 25px;
 
}
/* .Cerrar {
    margin-left: 40%;
    
  justify-content:flex-end;
  border-radius: 5px;
  background-color: rgb(214, 108, 108);
}


.Div2 {
  display: flex;
  padding: 2px;
  justify-content: space-around;
}
.Div3 {
    display: flex;
    padding: 2px;
    justify-content:space-around;
  } */
